<div class="footer my-5">  <footer style="background-color: yellow;">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4">
          <h5 class="mb-3 text-dark">SR Fumaça</h5>
          <p>
            Somos o Sr. Fumaça, especializados em Burguer Defumados, Pratos Executivos, Massa, Gelatos E Cafés.
            Não fazemos somente Burguer, fazemos grandes amigos
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 class="mb-3 text-dark">links</h5>
          <ul class="list-unstyled mb-0">
            <li class="mb-1">
              <a href="#!" style="color: #4f4f4f;">FAQ</a>
            </li>
            <li class="mb-1">
              <a href="#!" style="color: #4f4f4f;">Classes</a>
            </li>
            <li class="mb-1">
              <a href="#!" style="color: #4f4f4f;">Pricing</a>
            </li>
            <li>
              <a href="#!" style="color: #4f4f4f;">Safety</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 class="mb-1 text-dark">Horário de Funcionameno</h5>
          <table class="table" style="border-color: #666;">
            <tbody>
              <tr>
                <td>Mon - Quin - Sex:</td>
                <td>3pm - 11pm</td>
              </tr>
              <tr>
                <td>Ter e Qua:</td>
                <td>Fechado</td>
              <tr>
                <td>Sab - Dom:</td>
                <td>3pm - 11pm</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/"></a>
    </div>
    <!-- Copyright -->
  </footer>

</div>
