<div id="foto">
  <main class="main">
    <div class="container">
      <div class="card">
        <div class="card-image">
          <a href="https://cdn.pixabay.com/photo/2023/05/22/10/49/houses-8010401_1280.jpg" data-fancybox="gallery" data-caption="Caption Images 1">
            <img src="https://cdn.pixabay.com/photo/2023/05/22/10/49/houses-8010401_1280.jpg" alt="Image Gallery">
          </a>
        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <a href="https://cdn.pixabay.com/photo/2023/07/13/05/36/mountains-8123933_1280.jpg" data-fancybox="gallery" data-caption="Caption Images 1">
            <img src="https://cdn.pixabay.com/photo/2023/07/13/05/36/mountains-8123933_1280.jpg" alt="Image Gallery">
          </a>
        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <a href="https://cdn.pixabay.com/photo/2022/12/12/21/35/stream-7651969_1280.jpg" data-fancybox="gallery" data-caption="Caption Images 1">
            <img src="https://cdn.pixabay.com/photo/2022/12/12/21/35/stream-7651969_1280.jpg" alt="Image Gallery">
          </a>
        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <a href="https://cdn.pixabay.com/photo/2022/10/24/20/22/muhlviertel-7544316_1280.jpg" data-fancybox="gallery" data-caption="Caption Images 1">
            <img src="https://cdn.pixabay.com/photo/2022/10/24/20/22/muhlviertel-7544316_1280.jpg" alt="Image Gallery">
          </a>
        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <a href="https://cdn.pixabay.com/photo/2019/09/13/11/47/mountains-4473760_1280.jpg" data-fancybox="gallery" data-caption="Caption Images 1">
            <img src="https://cdn.pixabay.com/photo/2019/09/13/11/47/mountains-4473760_1280.jpg" alt="Image Gallery">
          </a>
        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <a href="https://cdn.pixabay.com/photo/2019/05/29/20/01/sunset-4238445_1280.jpg" data-fancybox="gallery" data-caption="Caption Images 1">
            <img src="https://cdn.pixabay.com/photo/2019/05/29/20/01/sunset-4238445_1280.jpg" alt="Image Gallery">
          </a>
        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <a href="https://cdn.pixabay.com/photo/2022/11/13/18/09/canyon-7589820_1280.jpg" data-fancybox="gallery" data-caption="Caption Images 1">
            <img src="https://cdn.pixabay.com/photo/2022/11/13/18/09/canyon-7589820_1280.jpg" alt="Image Gallery">
          </a>
        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <a href="https://cdn.pixabay.com/photo/2022/11/02/22/33/autumn-7566201_1280.jpg" data-fancybox="gallery" data-caption="Caption Images 1">
            <img src="https://cdn.pixabay.com/photo/2022/11/02/22/33/autumn-7566201_1280.jpg" alt="Image Gallery">
          </a>
        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <a href="https://cdn.pixabay.com/photo/2022/12/09/22/55/trees-7646226_1280.jpg" data-fancybox="gallery" data-caption="Caption Images 1">
            <img src="https://cdn.pixabay.com/photo/2022/12/09/22/55/trees-7646226_1280.jpg" alt="Image Gallery">
          </a>
        </div>
      </div>
    </div>
  </main>
</div>
