<div id="home">
  <h1>Bem-vindo à Home</h1>
</div>
<div class="container">
  <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">

    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "WhatsApp Image 2024-11-20 at 14.20.50.jpeg",  class: "d-block w-100", style: "max-width: 100%; max-height: 400px; object-fit: cover; object-position: center;" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "WhatsApp Image 2024-11-20 at 14.18.42.jpeg", alt: "Logo",  class: "d-block w-100", style: "max-width: 100%; max-height: 400px; object-fit: cover; object-position: center;" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "WhatsApp Image 2024-11-20 at 14.20.54 (1).jpeg",  class: "d-block w-100", style: "max-width: 100%; max-height: 400px; object-fit: cover; object-position: center;" %>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h1 class='welcome'>
        O Chef Rafael iniciou sua trajetória no bar Santo Forte, em Conchal, onde, ao lado de sua esposa Ana, começou a explorar a arte da defumação. O sucesso do bar e sua curiosidade pela técnica o levaram a aprofundar seus estudos em 2022, buscando novas formas de transformar sabores e experiências gastronômicas.
        No mesmo ano, Rafael e Ana decidiram se aventurar no sul da Bahia, escolhendo Cumuruxatiba como o cenário ideal para realizarem seus sonhos. Lá, criaram o Gelato Café, um espaço inicialmente dedicado a sobremesas e cafés, mas que logo incorporou as experimentações de Rafael com a defumação, refletindo sua paixão pela cozinha artesanal.
        O sucesso do Gelato Café culminou no nascimento do Sr. Fumaça, hoje reconhecido como o maior restaurante especializado em defumação da região. Com o apoio incondicional de Ana, Rafael transformou sua paixão em um espaço que une tradição e inovação, proporcionando aos visitantes uma experiência gastronômica única e inesquecível.
      </h1>
    </div>
    <div class="cheff col-md-6">
      <%= image_tag "WhatsApp Image 2024-11-20 at 14.20.52.jpeg", class: "img-fluid", style: "object-fit: cover; object-position: center;" %>
    </div>
  </div>
</div>

