<br>
<div  id= 'menu'class="container mt-5">
  <h1></h1>
  <div class="pdf-container">
    <%= image_tag "CARDAPIO_01.jpg", class: "d-block img-fluid", style: "max-width: 100%; height: auto; object-fit: cover; object-position: center;" %>
  </div>
  <br>
  <div class="pdf-container">
    <%= image_tag "CARDAPIO_02.jpg", class: "d-block img-fluid", style: "max-width: 100%; height: auto; object-fit: cover; object-position: center;" %>
  </div>
</div>
