// Specific CSS for your home-page
.welcome{
  font-size: 1.3rem;
  margin-top: 2rem;
  font-family:  "Oswald", sans-serif;
  color: #ffffff;
  padding: 10px 12px 10px 12px;
  border-style: solid;
  border-width: 4px 5px 5px 5px;
  border-color: rgb(229, 235, 47);
  border-radius: 12px 5px 12px 5px;
}
.cheff {
  margin-top: 2rem;
  width: 500px;
  height: 400px;

}
.cheff img {
  border-radius: 50px;
  display: flex;
  margin-left: 3rem;
}
.art{
  background-color: rgb(229, 235, 47);
  height: 100px;
  display: flex;
  justify-content: center;
  h1{
    font-size: 2rem;
    font-family: "Funnel Sans", sans-serif;
    color: #000000;
    margin-top: 0.7rem;
    padding: 10px 12px 10px 12px;
    border-width: 4px 5px 5px 5px;
    border-radius: 12px 5px 12px 5px;
  }
}

.welcome{
  margin-left: r
}
.choro{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  p{
    font-size: 2rem;
    font-family: "Funnel Sans", sans-serif;
    color: #fffdfd;
    margin-top: 0.7rem;
    padding: 10px 12px 10px 12px;
    border-width: 4px 5px 5px 5px;
    border-radius: 12px 5px 12px 5px;
  }
}
