*{
  margin: o;
  padding: 0;
}
.logo{
  display: flex;
  align-items: center;
  margin-left: 5rem;
}
.dfm{
  display: block;
  align-items: center;
  font-family: lato;
  font-size: 2rem;
  font-weight: 700;
  h2{
    font-family: lato;
    font-weight: 700;
    font-size: 2rem;
  }
}
.nav-link{
  font-family: lato;
  font-size: 1.5rem;
  font-weight: 700;
}
a{
  font-family: sans-serif;
  text-decoration: none;
}

.navbar{
  background: rgb(214, 196, 1);
  padding-inline: 20px;
  height: 150px;
}

.nav {
  max-width: 1280px;
  height: 70px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fto{
  max-width: 90px;
  height: auto;
  border-radius: 20px;
}
.nav-list{
  font-size: 19px;
  display: flex;
  gap: 32px;
  list-style: none;
  color: rgb(191, 46, 46);
  padding-block: 16px;

}

.nav-list a{
  font-size:18px;
  color: rgb(0, 0, 0);
  padding-block: 16px;

}

.hamburger{
  display: none;
  border: none;
  background: none;
  border-top: 3px solid rgb(5, 5, 5);
  cursor: pointer;
}

.hamburger::before,
.hamburger::after{
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  background: rgb(0, 0, 0);
  margin-top: 5px;
}

@media (max-width: 750px){
    .hamburger{
      display: block;
      z-index: 1;
    }
  .nav-list{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(229, 229, 222);
    clip-path: circle(100px at 90% 15%);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    pointer-events: none;
  }
  .nav-list.active{
    clip-path: circle(1500px at 90% 15%);
    pointer-events: all;
  }
}
.navbar-collapse.active {
  display: block !important;
}
